* {
  box-sizing: border-box;
 }

 body {
   padding: 50px;
   font-family: 'helvetica neue', helvetica, arial;
 }

 #search-box input {
   padding: 10px;
   width: 100%;
 }

 .ais-Hits--item {
   padding: 10px;
   border: 1px solid #EEE;
   border-radius: 3px;
   margin: 5px 0;
 }

 .ais-Hits--item em {
   background-color: yellow;
 }

 .ais-Search-box--magnifier {
   display: none;
 }

 .ais-Search-box--reset {
   top: 12px;
   width: 30px;
   height: 30px;
   border: none;
   position: absolute;
   right: 10px;
   opacity: 0.2;
 }
